.s-blog{
	background-color: $colorBody;
	padding-top: rem(113px);
	&__articles{
		display: inline-flex;
		flex-wrap: wrap;
		justify-content: center;
		@include apply-to(1380px,max){
			justify-content: center;
		}
	}
	.article{
		margin-right: rem(20px);
	}
}