.s-services{
	padding-top: rem(123px);
	padding-bottom: rem(60px);
	&__skills{
		@include clear();
	}
	&__skill{
		text-align: left;
		line-height: rem(30px);
		margin-bottom: rem(70px);
		@include col(6,53px);
		&:nth-child(odd){
			padding-left: 0;
		}
		&:nth-child(even){
			padding-right: 0;
		}
	}
}