.copyright{
	background-color: $colorDark;
	color: $colorLight;
	text-align: center;
	padding: rem(40px) 0;
	font-size: rem(14px);
	text-transform: uppercase;
	font-family: $fontExtra;
	@include apply-to($xsmall,max){
		font-size: rem(12px);
	}
}